version: '{build}'

image:
  - Ubuntu2204
  - macos

configuration: Release

platform:
  - x64

for:
-
  matrix:
    only:
      - image: macos
      - image: Previous macos  # not usually needed, but might use it while debugging
  install:
    - '"${SHELL}" <(curl -L micro.mamba.pm/install.sh)'
-
  matrix:
    only:
      - image: Ubuntu2204
  install:
    - '"${SHELL}" <(curl -L micro.mamba.pm/install.sh)'

build_script:
  # Diagnostics
  - echo $PLATFORM
  - echo $APPVEYOR_BUILD_WORKER_IMAGE
  - uname -a
  - pwd
  - ls

  # Set up micromamba
  # 2024-06-10: commented out to determine whether this is still required
#  - ./micromamba shell init -s bash -p ~/micromamba
#  - source ~/.bashrc
#  - source ~/.profile
#  - hash -r
#  - mkdir -p ~/micromamba/pkgs/
#  - export MAMBA_ROOT_PREFIX=~/micromamba
#  - export MAMBA_EXE=$(pwd)/micromamba
#  - . $MAMBA_ROOT_PREFIX/etc/profile.d/micromamba.sh

  # Clone xcube repository, install xcube dependencies with micromamba,
  # and install the latest version of xcube with setup.py.
  - git clone https://github.com/dcs4cop/xcube $HOME/xcube
  - micromamba create --name xc --file $HOME/xcube/environment.yml
  - micromamba activate xc
  - cd $HOME/xcube
  - pip install --no-deps .

  # Use micromamba to install all xcube-cds dependencies *except* xcube
  # (already manually installed), then install xcube-cds itself with setup.py.
  - cd $APPVEYOR_BUILD_FOLDER
  - grep -v "^  - xcube" environment.yml > env_no_xcube.yml
  - micromamba update --yes --name xc --file env_no_xcube.yml
  - python setup.py install

  # Make sure pytest is installed
  - micromamba install --yes --name xc --channel conda-forge pytest attrs

  # Print some diagnostics (useful for debugging)
  - micromamba list
  - xcube --version
  - python -c "from xcube_cds.version import version; print(f'xcube_cds version {version}')"

  # Run the test suite
  - python -m pytest
